. container {
    position: absolute;
    width: 100%;
}

h1 {
    font-size: 185px;
    font-family: helvetica;
    font-weight: bold;
    margin-left: 100px;
    margin-top: -40px;
    color: blue;
    width: 900px;
}

h2 {
    margin-left: 100px;
}

.scroll {
    width: 100px;
    top: 730px;
    position: absolute;
    padding-left: 650px;
    padding-right: 650px;
}

.links {
    position: sticky;
    width: 42px;
    height: 40px;
    background-color: white;
    background-blend-mode: screen;
    display: block;
    margin-left: 1350px;
    top: 30px;
    z-index: 1;
}

#top {
    width: 42px;
    height: 40px;
    border-radius: 100%;
    position: sticky;
    -webkit-animation: grow 2s alternate infinite;
}

@-webkit-keyframes grow {
    0% { width: 0px; height: 0px; }
    100% { width: 12px; height: 10px; }
}

.links2 {
    position: sticky;
    width: 42px;
    height: 40px;
    display: block;
    margin-left: 1350px;
    top: 90px;
    z-index: 1;
}

@font-face {
    font-family: 'WorkSans';
    src: url(../fonts/WorkSans-Italic-VF.ttf);
}

.work {
    font-family: WorkSans;
    color: lightskyblue;
    font-size: 120px;
    margin-top: 50px;
    width: 900px;
    text-rendering: geometricPrecision;
    animation: work infinite alternate 2s;
}

@keyframes work {
    0% { font-variation-settings: "wght" 200;}
    100% { font-variation-settings: "wght" 500; }
}

p {
    margin-left: 400px;
    margin-right: 200px;
    margin-top: -20px;
    width: 900px;
    letter-spacing: 2px;
    font-family: helvetica;
    font-size: 20px;
    color: black;
    font-weight: 200;
}

h3 {
    width: 900px;
    margin-left: 600px;
}


h4 {
    width: 900px;
    margin-left: 610px;
    font-family: helvetica;
    font-style: bold;
    font-size: 30px;
    color: orange;
}

a {
    font-family: helvetica;
    font-weight: bold;
    color: lightskyblue;
    margin-left: 20px;
}
